* {
    margin:0px;
    font-family: Helvetica, sans-serif;
}

.image {
    background: url("img/Untitled_Artworhhk.jpg");
    background-size: cover;
    width:700px;
    height:584px;
    position: absolute;
    left: 750px;
    top: 211px;
    
}

/* .image {
    background: url("img/Untitled_Artwork.jpg");
    background-size: cover;
    width:700px;
    height:700px;
    position: relative;
    left: 800px;
    top:100px;
} */

ul li {
    list-style-type:none;
    margin: 30px;
    margin-left: 400px;
    font-weight: 800;
}

h3, ul, li {
    display:inline-block
}

h3{
    margin: 30px;
    margin-left: 90px;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}

.text {
    position: absolute;
    left: 87px;
    top: 220px;
}

h1 {
    font-size: 100px;
    width: fit-content;
}

p{
    margin-top: 20px;
}

li {
    border-bottom: 3px solid black;
padding-bottom: 5px;
}

body {
    height: fit-content;
}

